.desktop-dark-mode {
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop-dark-mode .div {
    background-color: var(--dark-mode);
    width: 1600px;
    height: 3630px;
    position: relative;
  }
  
  .desktop-dark-mode .group {
    position: absolute;
    width: 1193px;
    height: 59px;
    top: 41px;
    left: 177px;
  }
  
  .desktop-dark-mode .logo {
    position: absolute;
    width: 97px;
    height: 59px;
    top: 0;
    left: 0;
  }
  
  .desktop-dark-mode .navbar {
    position: absolute;
    width: 619px;
    height: 26px;
    top: 8px;
    left: 403px;
  }
  
  .desktop-dark-mode .text-wrapper {
    position: absolute;
    height: 26px;
    top: 0;
    left: 245px;
    font-family: var(--buttons-big-font-family);
    font-weight: var(--buttons-big-font-weight);
    color: var(--light-content);
    font-size: var(--buttons-big-font-size);
    text-align: center;
    letter-spacing: var(--buttons-big-letter-spacing);
    line-height: var(--buttons-big-line-height);
    white-space: nowrap;
    font-style: var(--buttons-big-font-style);
  }
  
  .desktop-dark-mode .text-wrapper-2 {
    left: 531px;
    position: absolute;
    height: 26px;
    top: 0;
    font-family: var(--buttons-big-font-family);
    font-weight: var(--buttons-big-font-weight);
    color: var(--light-content);
    font-size: var(--buttons-big-font-size);
    text-align: center;
    letter-spacing: var(--buttons-big-letter-spacing);
    line-height: var(--buttons-big-line-height);
    white-space: nowrap;
    font-style: var(--buttons-big-font-style);
  }
  
  .desktop-dark-mode .text-wrapper-3 {
    left: 403px;
    position: absolute;
    height: 26px;
    top: 0;
    font-family: var(--buttons-big-font-family);
    font-weight: var(--buttons-big-font-weight);
    color: var(--light-content);
    font-size: var(--buttons-big-font-size);
    text-align: center;
    letter-spacing: var(--buttons-big-letter-spacing);
    line-height: var(--buttons-big-line-height);
    white-space: nowrap;
    font-style: var(--buttons-big-font-style);
  }
  
  .desktop-dark-mode .text-wrapper-4 {
    position: absolute;
    height: 26px;
    top: 0;
    left: 0;
    font-family: var(--buttons-big-font-family);
    font-weight: var(--buttons-big-font-weight);
    color: var(--light-content);
    font-size: var(--buttons-big-font-size);
    text-align: center;
    letter-spacing: var(--buttons-big-letter-spacing);
    line-height: var(--buttons-big-line-height);
    white-space: nowrap;
    font-style: var(--buttons-big-font-style);
  }
  
  .desktop-dark-mode .text-wrapper-5 {
    left: 123px;
    position: absolute;
    height: 26px;
    top: 0;
    font-family: var(--buttons-big-font-family);
    font-weight: var(--buttons-big-font-weight);
    color: var(--light-content);
    font-size: var(--buttons-big-font-size);
    text-align: center;
    letter-spacing: var(--buttons-big-letter-spacing);
    line-height: var(--buttons-big-line-height);
    white-space: nowrap;
    font-style: var(--buttons-big-font-style);
  }
  
  .desktop-dark-mode .group-2 {
    position: absolute;
    width: 130px;
    height: 32px;
    top: 4px;
    left: 1063px;
  }
  
  .desktop-dark-mode .entypo-social {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 100px;
  }
  
  .desktop-dark-mode .ant-design-twitter {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 50px;
  }
  
  .desktop-dark-mode .vector {
    position: absolute;
    width: 30px;
    height: 29px;
    top: 2px;
    left: 0;
  }
  
  .desktop-dark-mode .text-wrapper-6 {
    position: absolute;
    height: 26px;
    top: 1017px;
    left: 599px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--solid-heading-dark-mode);
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .akar-icons-github {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 1448px;
    left: 1314px;
  }
  
  .desktop-dark-mode .logos-git-icon {
    position: absolute;
    width: 105px;
    height: 105px;
    top: 1457px;
    left: 639px;
  }
  
  .desktop-dark-mode .logos-react {
    position: absolute;
    width: 113px;
    height: 101px;
    top: 1266px;
    left: 857px;
  }
  
  .desktop-dark-mode .logos-sass {
    position: absolute;
    width: 117px;
    height: 87px;
    top: 1475px;
    left: 410px;
  }
  
  .desktop-dark-mode .logos-bootstrap {
    position: absolute;
    width: 88px;
    height: 87px;
    top: 1257px;
    left: 1311px;
  }
  
  .desktop-dark-mode .vscode-icons-file {
    position: absolute;
    width: 131px;
    height: 131px;
    top: 1457px;
    left: 178px;
  }
  
  .desktop-dark-mode .img {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 1436px;
    left: 1089px;
  }
  
  .desktop-dark-mode .vscode-icons-file-2 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 1259px;
    left: 631px;
  }
  
  .desktop-dark-mode .vscode-icons-file-3 {
    position: absolute;
    width: 120px;
    height: 119px;
    top: 1265px;
    left: 407px;
  }
  
  .desktop-dark-mode .vscode-icons-file-4 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 1266px;
    left: 184px;
  }
  
  .desktop-dark-mode .cib-greensock {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 1450px;
    left: 850px;
  }
  
  .desktop-dark-mode .overlap {
    top: 1973px;
    left: 1036px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .rectangle {
    position: absolute;
    width: 373px;
    height: 567px;
    top: 3px;
    left: 2px;
    background-color: #363535;
    border-radius: 20px;
    box-shadow: 2px 2px 100px #00000033;
  }
  
  .desktop-dark-mode .text-wrapper-7 {
    position: absolute;
    height: 26px;
    top: 518px;
    left: 60px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .text-wrapper-8 {
    position: absolute;
    height: 26px;
    top: 518px;
    left: 236px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .rectangle-2 {
    position: absolute;
    width: 375px;
    height: 260px;
    top: 0;
    left: 0;
  }
  
  .desktop-dark-mode .text-wrapper-9 {
    position: absolute;
    height: 26px;
    top: 286px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 500;
    color: var(--solid-heading-dark-mode);
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .p {
    position: absolute;
    width: 314px;
    height: 130px;
    top: 329px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 300;
    color: var(--solid-heading-dark-mode);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .desktop-dark-mode .tech-stack-HTML {
    position: absolute;
    width: 314px;
    height: 26px;
    top: 471px;
    left: 30px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--solid-heading-dark-mode);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .desktop-dark-mode .span {
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #cccccc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .desktop-dark-mode .text-wrapper-10 {
    font-weight: 300;
    font-size: 14px;
  }
  
  .desktop-dark-mode .akar-icons-link {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 522px;
    left: 30px;
  }
  
  .desktop-dark-mode .akar-icons-github-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 522px;
    left: 204px;
  }
  
  .desktop-dark-mode .overlap-group {
    top: 2608px;
    left: 1034px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .overlap-2 {
    top: 1976px;
    left: 615px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .overlap-3 {
    top: 2611px;
    left: 613px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .overlap-group-2 {
    top: 1973px;
    left: 192px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .overlap-4 {
    top: 2608px;
    left: 190px;
    position: absolute;
    width: 375px;
    height: 570px;
  }
  
  .desktop-dark-mode .component {
    position: absolute;
    width: 1204px;
    height: 350px;
    top: 320px;
    left: 177px;
  }
  
  .desktop-dark-mode .text {
    position: absolute;
    width: 638px;
    height: 297px;
    top: 45px;
    left: 0;
  }
  
  .desktop-dark-mode .you-have-the-design {
    position: absolute;
    width: 591px;
    height: 289px;
    top: 6px;
    left: 4px;
  }
  
  .desktop-dark-mode .element {
    position: absolute;
    width: 367px;
    height: 367px;
    top: 10px;
    left: 846px;
    object-fit: cover;
  }
  
  .desktop-dark-mode .technologies-i-ve {
    position: absolute;
    height: 26px;
    top: 1092px;
    left: 423px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .text-wrapper-11 {
    position: absolute;
    height: 26px;
    top: 1850px;
    left: 602px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .text-wrapper-12 {
    position: absolute;
    height: 26px;
    top: 1775px;
    left: 676px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--solid-heading-dark-mode);
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .be-sure-to-take-a-lo {
    position: absolute;
    width: 460px;
    height: 19px;
    top: 3543px;
    left: 920px;
  }
  
  .desktop-dark-mode .menu {
    position: absolute;
    width: 564px;
    height: 26px;
    top: 3544px;
    left: 190px;
  }
  
  .desktop-dark-mode .about {
    position: absolute;
    top: 0;
    left: 366px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .about-2 {
    position: absolute;
    top: 0;
    left: 486px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .pricing {
    position: absolute;
    top: 0;
    left: 102px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .how-it-works {
    position: absolute;
    top: 0;
    left: 206px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .portfolio {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .logo-2 {
    position: absolute;
    width: 97px;
    height: 59px;
    top: 3378px;
    left: 180px;
  }
  
  .desktop-dark-mode .divider {
    position: absolute;
    width: 1211px;
    height: 2px;
    top: 3481px;
    left: 188px;
  }
  
  .desktop-dark-mode .group-3 {
    position: absolute;
    width: 130px;
    height: 32px;
    top: 3396px;
    left: 1261px;
  }
  
  .desktop-dark-mode .group-wrapper {
    position: absolute;
    width: 169px;
    height: 26px;
    top: 3400px;
    left: 774px;
  }
  
  .desktop-dark-mode .group-4 {
    position: relative;
    width: 173px;
    height: 26px;
  }
  
  .desktop-dark-mode .element-2 {
    position: absolute;
    width: 149px;
    top: 0;
    left: 20px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .fa-phone {
    width: 9px;
    position: absolute;
    top: 2px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 38px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .div-wrapper {
    position: absolute;
    width: 237px;
    height: 26px;
    top: 3400px;
    left: 976px;
  }
  
  .desktop-dark-mode .group-5 {
    position: relative;
    width: 241px;
    height: 26px;
  }
  
  .desktop-dark-mode .info-designmodo-com {
    position: absolute;
    width: 207px;
    top: 0;
    left: 30px;
    font-family: "DM Sans", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .fa-envelope {
    width: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: var(--light-content);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 38px;
    white-space: nowrap;
  }
  
  .desktop-dark-mode .vector-2 {
    position: absolute;
    width: 105px;
    height: 100px;
    top: 1259px;
    left: 1096px;
  }
  